{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env": {
    "browser" : true
  },
  "globals": {
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false
  },
  "rules": {
    "strict": 0,
    "max-len": [2, 200, 2, {"ignoreUrls": true}],
    "no-nested-ternary": 0,
    "object-property-newline": 0
  },
  "parserOptions": {
      "ecmaVersion": 2017,
      "ecmaFeatures": {
          "experimentalObjectRestSpread": true
      }
  }
}
